# 默认忽略的文件
/shelf/
/workspace.xml
/AndroidProjectSystem.xml
/migrations.xml
/runConfigurations.xml
/deploymentTargetSelector.xml
/deviceManager.xml
/kotlinc.xml
/artifacts/shared.xml
/artifacts/shared_jvm.xml
